* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e07a5f;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    margin: 1rem;
}

.newTask {
    display: flex;
    margin: 1rem 0 2rem 0;
}

.newTask input {
    width: 30vw;
}

.newTask button {
    background-color: #212529;
    color: white;
}

.newTask input,
.newTask button {
    border: none;
    outline: none;
    font-size: 1rem;
    padding: .5rem;
}

.task {
    margin: 0.3rem;
}

.task button {
    border: none;
    padding: 0.3rem;
    font-size: 1rem;
}

.task input {
    border: none;
    background: #f8f9fa;
    outline: none;
    padding: 0.3rem;
    font-size: 1rem;
}

.task input[type='text'] {
    width: 30vw;
}

.task button.checked+input[type='text'] {
    text-decoration: line-through;
    background-color: #c9c9c9;
}